@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
  @media (min-width: 760px) {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}
/* main::-webkit-scrollbar {
  z-index: 100;
} */

section,
header {
  scroll-snap-align: start;
}
header {
  background-color: rgba(255, 255, 255, 1);
}

@layer components {
  .flcenter {
    @apply flex justify-center items-center;
  }
  .section {
    @apply min-h-[100vh] w-[100vw];
  }
}

/* Header */

.m-link {
  @apply text-black rounded-lg px-4 py-1 pr-3;
}

.menu-item {
  @apply ml-2 md:hidden;
}
/* Footer */
.footer p {
  @apply text-xl max-sm:text-sm max-md:text-sm mb-2;
}
.footer li {
  @apply text-white font-thin text-sm max-sm:text-sm max-md:text-xs mb-1;
}

.inpt:focus {
  outline: none;
  border: none;
}
