/* Section One */

.embla {
  --slide-spacing: 0rem;
  --slide-size: 100%;
  --slide-height: 100vh;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Section Two */

.ticker-container {
  -ms-flex-align: center;
  align-items: center;
  /* background: linear-gradient(100.72deg, #ff8a00, #ff8a00, #d449f7); */
  border-bottom: 3px solid rgba(255, 166, 0, 0.5);
  border-top: 3px solid rgba(255, 166, 0, 0.5);
  bottom: 100px;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  white-space: nowrap;
  width: 100vw;
}
@media (max-width: 760px) {
  .ticker-container {
    bottom: 25px;
    border-top: 1px solid rgba(255, 166, 0, 0.5);
    border-bottom: 1px solid rgba(255, 166, 0, 0.5);
  }
}

.ticker-container.hide-ticker {
  visibility: hidden;
}

/* @media (max-width: 767px) {
  .ticker-container {
    margin-left: -16px;
  }
}

@media (min-width: 768px) {
  .ticker-container {
    margin-left: -24px;
  }
}

@media (min-width: 1024px) {
  .ticker-container {
    margin-left: calc(468px - 50vw);
  }
}

@media (min-width: 1270px) {
  .ticker-container {
    margin-left: calc(612px - 50vw);
  }
}

@media (min-width: 1860px) {
  .ticker-container {
    margin-left: calc(852px - 50vw);
  }
} */

.ticker-container .ticker-viewer {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ticker-container .ticker-viewer .animation-paused,
.ticker-container .ticker-viewer.ticker-not-view .ticker-scroll,
.ticker-container .ticker-viewer:hover .ticker-scroll {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.ticker-container .ticker-viewer .ticker-scroll {
  -webkit-transition: all linear;
  transition: all linear;
  will-change: transform, opacity;
}

.ticker-container .ticker-viewer .ticker-scroll.first-animation {
  -webkit-animation: positionScrollFirst 8s linear forwards;
  animation: positionScrollFirst 8s linear forwards;
  position: absolute;
}

.ticker-container .ticker-viewer .ticker-scroll.infinite-animation {
  -webkit-animation: tickerScroll 60s linear infinite normal;
  animation: tickerScroll 60s linear infinite normal;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.ticker-container .ticker-viewer .ticker-scroll.delay-animation {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
}

.ticker-container .ticker-viewer .ticker-scroll.first-animation-overflow {
  -webkit-animation: positionScrollFirst 16s linear forwards;
  animation: positionScrollFirst 16s linear forwards;
  position: absolute;
}

.ticker-container .ticker-viewer .ticker-scroll.infinite-animation-overflow {
  -webkit-animation: tickerScroll 80s linear infinite normal;
  animation: tickerScroll 80s linear infinite normal;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.ticker-container .ticker-viewer .ticker-scroll.delay-animation-overflow {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
  opacity: 0;
}

.ticker-container .ticker-viewer .ticker-item {
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  margin-left: 57px;
  -webkit-transition: all;
  transition: all;
}

.ticker-container .ticker-viewer .ticker-item span {
  margin-left: 10px;
}

.ticker-container .ticker-viewer .ticker-item span:first-child {
  margin-left: 0;
}

@-webkit-keyframes tickerScroll {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes tickerScroll {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes positionScroll {
  0% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes positionScroll {
  0% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes positionScrollFirst {
  0% {
    opacity: 1;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }

  99.9999% {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes positionScrollFirst {
  0% {
    opacity: 1;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }

  99.9999% {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
